* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr auto;
  justify-items: center;
  color: #8c6991;
  background-image: url("img/background-pattern-mobile.svg");
  background-repeat: repeat-x;
  background-position: left top;
  background-color: #f9eeff;
  background-size: contain;
}

main {
    place-self: center;
}

.main_title, .card_title {
    color: #2f1533;
}

.main_card {
    background-color: white;
    margin: 2rem 1.5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    height: fit-content;
}

.main_header {
    display: flex;
    gap: 1.5rem;
}

.main_title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
}

.card_title_img_together {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    cursor: pointer;
}

.card_title {
    font-size: 1rem;
}

.card_title:hover {
    color: #AD28EB;
}

.card_img {
    cursor: pointer;
}

.card_resume {
    display: none;
    line-height: 1.25;
    padding-bottom: 1rem;
}

.attribution {
    font-size: .75rem;
    place-self: center;
    text-align: center;
    padding: 1.5rem 0 1rem;
    font-weight: bold;
}

.attribution a {
    color: #301534;
    display: inline-block;
}

.attribution a:hover {
    color: #AD28EB;
    transition: .3s;
}


@media  (min-width: 400px) {
    body {
        background-image: url("img/background-pattern-desktop.svg");
        
    }

    .main_card{
        width: 500px;
    }
}